// Place all the styles related to the challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-card {
	padding: 10px;
}

.points {
	font-size: 10vh;
}

.choices{
	padding: 10px;
	line-height: 50px;
}