#panell{
	margin-top: 100px;
	padding: 0px;
}
.form-fields {
	padding: 2px;
}
form{
	padding:12px;
	border-radius: 3px;
	box-sizing: border-box;
}

.remember-box {
	margin-left: 40%;
	color: black;
}

