.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: black;
	position: relative;
	overflow: hidden;
}

html,body{height:100%;}

.parallax-container .section {
	width: 100%;
}

.header{
	color: #ee6e73;
}

.parallax {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}