// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: black;
	position: relative;
	overflow: hidden;
}

html,body{height:100%;}

.parallax-container .section {
	width: 100%;
}


.parallax {
/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}