<footer class = "page-footer">
  <div class = "row">
    <div class = "col s12 m10 l10">
      <h5 class = "white-text">Trivia</h5>
    </div>

    <div class = "col">
      <ul>
        <li><a href = "#" class = "grey-text text-lighten-4 right">
          Help</a></li>
        <li><a href = "#" class = "grey-text text-lighten-4 right">
          Privacy and Terms</a></li>
        <li><a href = "#" class = "grey-text text-lighten-4 right">
          User Agreement</a></li>
      </ul>
    </div>
  </div>

  <div class = "footer-copyright">
    <div class = "container">
      © 2018 Copyright Information
      <a class = "grey-text text-lighten-4 right" href = "#!">Links</a>
    </div>
  </div>
</footer>